# Ignore IDE conf files
NerdFontTerminatoR.userprefs
NerdFontTerminatoR.usertasks
NerdFontTerminatoR.suo
NerdFontTerminatoR/NerdFontTerminatoR.csproj.user

# Ignore test files
files/

# Ignore build files
NerdFontTerminatoR/bin/
NerdFontTerminatoR/obj/

